{% load static %}
<div class="row"><!-----row 3 starts-->
    <div class="col-md-4">
      <h5>Address</h5>
      <hr>
      2nd Floor,landmark building<br>
      Near Fc college road<br>
      shivajinagar-pune<br><br>
      
    </div>
    <div class="col-md-4">
      <h5>Quick Links</h5>
      <hr>
      <p><a href="/index" class="anchor">Home</a></p>
      <p><a href="#" class="anchor">About us</a></p>
      <p><a href="/cart" class="anchor">Cart</a></p>
      <p><a href="contact.html" class="anchor">contact</a></p>
    </div>
    <div class="col-md-4">
      <h5>Connect us</h5>
      <hr>
      <h5><a href="http://www.instagram.com"><i class="bi bi-instagram text-danger"></i></a></h5>
      <h5><a href="http://www.instagram.com"><i class="bi bi-facebook"></i></a></h5>
      <h5><a href="http://www.instagram.com"><i class="bi bi-linkedin"></i></a></h5>
      <h5><a href="http://www.instagram.com"><i class="bi bi-twitter"></i></a></h5>
    </div>
  </div><!-----row 3 ends-->
</div>
<script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
</body>
</html>